<ion-header *ngIf="chat.user">

  <custom-logged-header [title]="chat.user.name" [user]="chat.user"></custom-logged-header>

</ion-header>

<ion-content>
  
  <div class="messages">
    
    <div *ngFor="let message of chat.messages; let i = index" class="message-box {{message.sender.id === authService.currentUser.id ? 'mine' : 'other'}} {{ message.type }} {{ message.sender.gender }} {{ chat.messages[i+1] ? chat.messages[i+1].sender.id === message.sender.id ? '' : 'end' : 'end' }}">

      <img *ngIf="message.sender.id !== authService.currentUser.id" class="profile-pic" [src]="message.sender.pictures[0].url" />
      
      <div class="chat-bubble">
        <div *ngIf="message.type == 'TEXT'" class="message">{{message.content}}</div>
      
        <img *ngIf="message.type == 'PICTURE'" class="message-content message-content-picture" [src]="message.content">
      </div>
      
      <div class="message-detail">
        <span>{{ message.timestamp | amDateFormat: 'HH:mm' }}</span>
      </div>

    </div>

  </div>
  
  <div class="messages-footer">
    <form>
      <ion-input
        #chat_input
        [(ngModel)]="message"
        (keyup.enter)="sendMessage()"
        (focus)="scrollToBottom()"
        name="message"
        placeholder="Nachricht schreiben">
      </ion-input>
    </form>
    <button ion-fab mini color="primary" (click)="sendMessage($event)">
      <ion-icon name="send" *ngIf="message != ''"></ion-icon>
      <ion-icon name="camera" *ngIf="message == ''"></ion-icon>
    </button>
  </div>

</ion-content>