<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="blur-svg">
  <defs>
      <filter id="blur-filter">
          <feGaussianBlur stdDeviation="3"></feGaussianBlur>
      </filter>
  </defs>
</svg>

<ion-header no-border [ngClass]="{'loading-location': loading}">
  
  <ion-navbar transparent #navbar>
  
  </ion-navbar>
    
  <img src="assets/person_white.svg" (click)="setState(5)" class="profile-button"/>

  <img src="assets/logo_white.svg" (click)="setState(1)" class="hispot-button"/>

  <img src="assets/chat_list_white.svg" (click)="setState(6)" class="chats-button"/>

</ion-header>

<ion-content fullscreen #feed [ngClass]="{'loading-location': loading}">

  <div class="login">
    <img src="assets/Hi!Spot.svg" class="hispot-text"/>

    <img src="assets/claim_white.svg" class="hispot-claim"/>

<!-- 
    <ion-slides pager autoplay="5000">
      <ion-slide padding>
      <!-- <ion-slide padding style="background-image: url(https://unsplash.it/g/500/800?random);"> --
        <div class="darken"></div>
        <h1>Überschrift 1</h1>
        <p>Hic est illo et et. Illum ut quaerat fugiat voluptatibus quam libero.</p>
      </ion-slide>
      <ion-slide padding>
      <!-- <ion-slide padding style="background-image: url(https://unsplash.it/g/500/801?random);"> --
        <div class="darken"></div>
        <h1>Überschrift 2</h1>
        <p>Hic est illo et et. Illum ut quaerat fugiat voluptatibus quam libero.</p>
      </ion-slide>
      <ion-slide padding>
      <!-- <ion-slide padding style="background-image: url(https://unsplash.it/g/500/802?random);"> --
        <div class="darken"></div>
        <h1>Überschrift 3</h1>
        <p>Hic est illo et et. Illum ut quaerat fugiat voluptatibus quam libero.</p>
      </ion-slide>
    </ion-slides>
     -->
    <div class="login-footer">
      
      <ion-spinner name="crescent" *ngIf="loading" color="light" margin-top></ion-spinner>

      <button *ngIf="!loading" margin ion-button color="light" round textx-center (click)="skip()" icon-left>
        <ion-icon name="logo-facebook"></ion-icon>
        Login mit Facebook
      </button>

       <div padding class="terms"><!--<a (click)="skip()" *ngIf="!loading">Skip ></a><br/>-->By continuing, you agree to our <a href="/">Terms</a> and <a href="/">Privacy Policy</a></div> 

    </div>

  </div>

  <div class="location-header main-pane">
    <div #map id="map" (mousedown)="setState(2)"></div>

    

    <div class="location">
      <ion-fab edge right top>
        <button ion-fab mini color="primaryLight" (click)="selectLocation($event)">
          <ion-icon name="md-repeat" *ngIf="!loading"></ion-icon>
          <ion-spinner name="crescent" *ngIf="loading" color="light"></ion-spinner>
        </button>
      </ion-fab>
      <!-- <ion-slides *ngIf="currentLocation" class="top-slides" pager centeredSlides slidesPerView="auto">
          
        <ion-slide *ngFor="let picture of currentLocation.pictures">
          <img class="swiper-lazy" data-src="{{ picture.url }}" />
        </ion-slide>
      
      </ion-slides>

      <div class="gradient"></div> -->
      <ion-title *ngIf="currentLocation" ion-text (click)="goToLocation(currentLocation)" [class]="currentLocation.googlePlaceId == '0' ? 'noLocation' : ''">{{ currentLocation.name }}<ion-icon name="arrow-forward"></ion-icon></ion-title>

<!-- 
      <div padding class="title-panel" margin-bottom *ngIf="currentLocation">
        
        <h2 class="loading-text">{{ currentLocation.name }}</h2>
        <p class="loading-text">{{ currentLocation.description }}</p>
        
      </div>
       -->
<!--       
      <ion-scroll scrollX *ngIf="currentLocation" class="people">
        <isotope>
          <isotope-brick>
            <button *ngFor="let user of currentLocation.visitors" class="image-button" (click)="openProfile(user)">
              <img [src]="user.pictures[0].url" />
            </button>
          </isotope-brick>
        </isotope>
      </ion-scroll>
       -->
       <ion-scroll scrollX *ngIf="currentLocation" class="people">
        <button *ngFor="let user of currentLocation.visitors" class="image-button" (click)="openProfile(user)">
          <img [src]="user.pictures[0].url" />
        </button>
      </ion-scroll> 
    </div>

  </div>

  <ion-fab right bottom>
    <button ion-fab mini color="light" (click)="newStatus()"><ion-icon name="md-create"></ion-icon></button>
    <button ion-fab color="primary"><ion-icon name="md-camera"></ion-icon></button>
  </ion-fab>

  <div class="feed main-pane" *ngIf="currentLocation" (swipeleft)="setState(6)" (swiperight)="setState(5)">
    
    <ion-card>
      <ion-grid no-padding>
        <ion-row>
          <ion-col (click)="newStatus()"><span><ion-icon name="md-create"></ion-icon>Status</span></ion-col>
          <ion-col>
            <img [src]="authService.currentUser.pictures[0].url">
            <span><ion-icon name="md-camera"></ion-icon>Selfie</span>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-item no-lines>
        <ion-avatar item-start>
          <img [src]="authService.currentUser.pictures[0].url">
        </ion-avatar>
        <ion-input type="text" (keyup.enter)="sendMessage(newMessage); newMessage=''" placeholder="Message..." [(ngModel)]="newMessage"></ion-input>
        <button ion-button item-right (click)="sendMessage(newMessage); newMessage=''">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-item> -->
    </ion-card> 
    
    <div class="messages">
       
      <ion-card (click)="goToLocation(closeLocations[1])" class="stage2 image-background ad">
        
        <img src="https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyA7I5gFFrRO8VzqmDK4Jw6qle5TG2b3IiQ&maxwidth=600&photoreference=CmRaAAAAEYTkJrNFpdcr3G5e-5ELb-KSOUCpF6ghFW8iWVGgWEH37vUSCsqE0645kTz9CQKD5AcB0VtRD5tiQsKld1fwuyo0WpajmGq8H4yOXSYfHi5PK71KLVv2v2NK5C3bfxIGEhCeq65Q6F1oYXCZpH2Igf92GhRXaG9MQ8K9UTkp97hqJk1zfosnbg"> 
        
        <ion-item>
          <ion-avatar item-start>
             <img src="https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyA7I5gFFrRO8VzqmDK4Jw6qle5TG2b3IiQ&maxwidth=600&photoreference=CmRaAAAAIqcIBBXp2aMM-QjgzYvbeSU4wSJ-Y6ZLXKpNxfaD2ic8EVFV_0g5oXdcJ3dMDaU79yCu8GgTIsvuroO71ioh_edFI2CEAvq213pEqrbWWoNiwRfv5M7vb3IB78lBSjBTEhBY79zTUdq5AE7h4LD5Ffl5GhRBX7rdKYiPzQMSqziezUasyCmAwg"> 
          </ion-avatar>
          <h2>{{ closeLocations[1].name }}</h2>
          <p>Werbung</p>
        </ion-item>
      
        <ion-card-content>
          <h3>Steinofenpizza ab 8€</h3>
          <h4>Direkt im Bikini Berlin</h4>
        </ion-card-content>

      </ion-card> 

      <ion-card class="stage1 ad" *ngIf="currentLocation.googlePlaceId != '0'">
          
        <ion-item (click)="goToLocation(currentLocation)">
          <ion-avatar item-start>
            <img [src]="currentLocation.pictures[0].url">
          </ion-avatar>
          <h2>{{ currentLocation.name }}</h2>
          <p>Werbung</p>
        </ion-item>
      
        <ion-card-content>
          <h3><b>Happy Hour!</b></h3>
          <p>Bis 22:00 kosten alle Cocktails nur 4,50€</p>
        </ion-card-content>
      
      </ion-card>

      <ion-card *ngFor="let message of currentLocation.feed.messages | slice:0:10">
          
        <ion-item (click)="openProfile(message.sender)">
          <ion-avatar item-start>
            <img *ngIf="message.sender.id !== authService.currentUser.id" [src]="message.sender.pictures[0].url">
          </ion-avatar>
          <h2>{{ message.sender.name }}</h2>
          <p>{{ message.timestamp | amDateFormat: 'HH:mm' }}</p>
        </ion-item>
      
        <img *ngIf="message.type == 'PICTURE'" [src]="message.content"> 
      
        <ion-card-content *ngIf="message.type == 'TEXT'">
          <p>{{ message.content }}</p>
        </ion-card-content>
      
        <!-- <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
        </ion-row> -->
      
      </ion-card>

    </div>
    
  </div>

  <section class="profile-pane" (swipeleft)="setState(1)">

    <div class="profile-section {{ authService.currentUser.gender }}" *ngIf="authService.currentUser" (click)="openOwnProfile()">
      <img [src]="authService.currentUser.pictures[0].url" class="avatar">
      <h2>{{ authService.currentUser.name }}</h2>
    </div>
    
    <ion-list no-lines>
      <ion-item>
        <ion-icon name="settings" item-start></ion-icon>
        Einstellungen
      </ion-item>
      <ion-item>
        <ion-icon name="information-circle" item-start></ion-icon>
        Informationen
      </ion-item>
      <ion-item>
        <ion-icon name="log-out" item-start></ion-icon>
        Abmelden
      </ion-item>
    </ion-list>

  </section>

  <section class="chat-list-pane" (swiperight)="setState(1)">
      
    <div class="chat-list-header"></div>

    <ion-list *ngIf="authService.currentUser" (swiperight)="setState(1)">
      <button ion-item *ngFor="let chat of authService.currentUser.chats" (click)="openChat(chat)" (swiperight)="setState(1)">
        <ion-avatar item-left>
          <img [src]="chat.user.pictures[0].url || 'assets/images/no-photo.jpg'">
        </ion-avatar>
        <h2>{{ chat.user.name }}</h2>
          
        <p *ngIf="chat.messages && chat.messages[chat.messages.length - 1].type == 'TEXT'">{{ chat.messages[chat.messages.length - 1].content }}</p>
        <p *ngIf="chat.messages && chat.messages[chat.messages.length - 1].type == 'PICTURE'">📷 Foto</p>
        <p *ngIf="!chat.messages">Keine Nachrichten</p>

        <ion-note item-end>
          {{ chat.messages[0].timestamp | date:'HH:mm' }}
        </ion-note>
      </button>
    </ion-list>
    
  </section>

</ion-content>

<div class="error">

  <div class="error-connection">
    <ion-icon isActive="false" name="alert"></ion-icon>
    <h4 ion-text>Du musst mit dem Internet verbunden sein</h4>
  </div>

  <div class="error-location">
    <ion-icon isActive="false" name="alert"></ion-icon>
    <h4 ion-text>Hi!Spot benötigt deine GPS-Position</h4>
  </div>

</div>
