
<img *ngIf="message.sender.id !== authService.currentUser.id" class="profile-pic" [src]="message.sender.pictures[0].url" />

<div class="chat-bubble {{message.sender.id === authService.currentUser.id ? 'mine' : 'other'}} {{ message.type }}">
  <div *ngIf="message.type == 'TEXT'" class="message">{{message.content}}</div>

  <img *ngIf="message.type == 'PICTURE'" class="message-content message-content-picture" [src]="message.content">
</div>

<div class="message-detail {{message.sender.id === authService.currentUser.id ? 'mine' : 'other'}}">
  <span>{{ message.timestamp | amDateFormat: 'HH:mm' }}</span>
</div>